@charset "UTF-8";

/* Media Querie para dispositivos mobile */
@media screen and (min-width: 360px) and (max-width: 428px){
    
    main > .container{
        width: 95%;
        height: 100%;
        padding: 10px;
        margin: auto;
    }
    
    main > .container > .card{
        display: block;
        width: 95%;
        height: 50%;
        padding: 10px 0px;
        margin: auto;
    }

    main > .container > .card > picture > img{
        display: block;
        width: 95%;
        height: 260px;
        margin: auto;
    }

    main > .container > .card > h1{
        font-size: 32px;
        width: 90%;
        padding: 10px 7px;
    }

    main > .container > .card > p{
        font-size: 25px;
        padding: 20px 10px;
    }
    
}

@media screen and (max-width: 320px) {

    header > .Menu-Header{
        font-size: 13px;
    }

    main > .container > .card{
        display: block;
        width: 95%;
        height: 50%;
        padding: 10px 0px;
        margin: auto;
    }

    main > .container > .card > picture > img{
        display: block;
        width: 90%;
        height: 220px;
        margin: auto;
    }

    main > .container > .card > h1{
        font-size: 24px;
        width: 90%;
        padding: 10px 15px;
    }

    main > .container > .card > p{
        font-size: 25px;
        padding: 20px 20px;
    }
    
}