@charset "UTF-8";

/* Media Querie para dispositivos mobile */
@media screen and (max-width: 320px) {

    header > picture > img{
        display: block;
        float: left;
        width: 60px;
        padding: 10px;
    }

    header > h1{
        font-size: 40px;
    }

    header > .Menu-Header{
        font-size: 13px;
    }

    main > .container > .card > picture > img{
        width: 290px;
        height: 240px;
    }

    main > .container > .card > h1{
        font-size: 24px;
        width: 90%;
        padding: 10px 15px;
        text-align: center;
    }

    main > .container > .card > h2{
        font-size: 26px;
        width: 90%;
        padding: 10px 10px;
    }

    main > .container > .card > p{
        font-size: 14px;
        padding: 20px 20px;
    }
    
    main > .container > .card > .container-app > img{
        height: 280px;
    }

    main > .container > .card > picture > a > img{
        width: 140px;
    }
    
}

@media screen and (min-width: 360px) and (max-width: 430px){

    main > .container > .card > picture > img{
        width: 335px;
        height: 280px;
    }

    main > .container > .card > h1{
        font-size: 29px;
        width: 90%;
        padding: 10px 10px;
        text-align: center;
    }

    main > .container > .card > h2{
        font-size: 28px;
        width: 90%;
    }

    main > .container > .card > p{
        font-size: 16px;
        padding: 20px 10px;
    }

    main > .container > .card > .container-app > img{
        height: 320px;
    }

    main > .container > .card > picture > a > img{
        width: 150px;
    }
}

@media screen and (min-width: 430px) and (max-width: 768px){

    main > .container > .card > picture > img{
        width: 450px;
        height: 380px;
    }

    main > .container > .card > h1{
        font-size: 48px;
        width: 90%;
        padding: 10px;
        text-align: center;
    }

    main > .container > .card > h2{
        font-size: 32px;
    }

    main > .container > .card > p{
        font-size: 18px;
        padding: 10px 15px;
        width: 90%;
    }

    main > .container > .card > .container-app > img{
        width: 360px;
        height: 420px;
    }

    main > .container > .card > picture > a > img{
        width: 180px;
    }
}

@media screen and (min-width: 768px) and (max-width: 900px){

    main > .container > .card > picture > img{
        width: 510px;
        height: 420px;
    }

    main > .container > .card > h1{
        font-size: 52px;
        width: 90%;
        padding: 10px 15px;
        text-align: center;
    }

    main > .container > .card > h2{
        font-size: 32px;
    }

    main > .container > .card > p{
        font-size: 18px;
        padding: 10px 15px;
        width: 95%;
    }

    main > .container > .card > .container-app > img{
        width: 320px;
        height: 760px;
    }

    main > .container > .card > picture > a > img{
        width: 240px;
    }
}