@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

:root{
    --corDestaque: #003300;
    --corBase: #000
}

body{
    width: 100%;
    height: 100vh;
}

header{
    background-color: var(--corDestaque);
    width: 100%;
    height: 137px;
    position: sticky;
    top: 0;
    z-index: 1;
}

header > h1{
    text-align: center;
    font-size: 50px;
    padding: 20px;
    margin: auto;
}

header > h1 > a, footer > section > h1 > a{
    text-decoration: none;
    text-shadow: 3px -2px 1px var(--corBase);
}

header > .Menu-Header{
    height: 40px;
    box-shadow: 0px 0px 2px white;
    font-weight: bold;
}

header > .Menu-Header > ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header > .Menu-Header > ul > li{
    padding: 10px;
}

header > .Menu-Header > ul > li a{
    text-decoration: none;
    text-shadow: 3px 0px 2px var(--corBase);
}

header > .Menu-Header > ul > li:hover{
    background-color: #006100;
    transition-duration: .9s;
}

main{
    background-color: var(--corBase);
    width: 100%;
}

footer{
    background-color: var(--corDestaque);
    width: 100%;
    height: 210px;
}

footer > section{
    width: 100%;
}

footer > section > h1{
    text-align: center;
    font-size: 50px;
    padding: 10px;
    width: 250px;
}

footer > section > p{
    padding: 10px;
    width: 270px;
    display: inline-block;
}

footer > section > .Menu-Footer{
    display: inline-block;
    padding: 20px;
}

footer > .copyright
{
    background-color: var(--corBase);
    text-align: center;
    padding: 10px;
}

@media screen and (min-width: 428px) and (max-width: 767px){
    
    main > .container{
        width: 90%;
        height: 100%;
        background-color: transparent;
        margin: auto;
        padding: 10px;
    }
    
    main > .container > .card{
        display: inline-block;
        width: 48%;
        height: 50%;
        padding: 10px 0px;
        margin-top: 10px;
        background-color: rgb(0, 255, 4);
    }

    main > .container > .card > picture > img{
        display: block;
        width: 95%;
        height: 25vh;
        margin: auto;
    }

    main > .container > .card > p{
        font-size: 24px;
        padding: 10px;
        width: 90%;
        margin: auto;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 899px){
    
    main > .container{
        width: 90%;
        height: 100%;
        background-color: transparent;
        margin: auto;
        padding: 10px;
    }
    
    main > .container > .card{
        display: inline-block;
        width: 48%;
        height: 50%;
        padding: 10px 0px;
        margin-top: 10px;
        background-color: red;
    }

    main > .container > .card > picture > img{
        display: block;
        width: 95%;
        height: 30vh;
        margin: auto;
    }

    main > .container > .card > p{
        font-size: 24px;
        padding: 10px;
        width: 328px;
        margin: auto;
    }
    
}

@media screen and (min-width: 900px){
    
    main > .container{
        width: 90%;
        height: 100%;
        background-color: transparent;
        margin: auto;
        padding: 10px;
    }
    
    main > .container > .card{
        display: inline-block;
        width: 49%;
        height: 50%;
        padding: 10px 0px;
        margin-top: 10px;
        border: 1px solid white;
    }

    main > .container > .card > picture > img{
        display: block;
        width: 95%;
        height: 60vh;
        margin: auto;
    }

    main > .container > .card > p{
        font-size: 24px;
        padding: 10px;
        width: 380px;
        margin: auto;
    }
    
}

