@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

:root{
    --corDestaque: #003300;
    --corBase: #000
}

body{
    width: 100%;
    height: 100vh;
}

header{
    background-color: var(--corDestaque);
    width: 100%;
    height: 137px;
    position: sticky;
    top: 0;
}

header > h1{
    text-align: center;
    font-size: 50px;
    padding: 20px;
    margin: auto;
}

header > h1 > a, footer > section > h1 > a{
    text-decoration: none;
    text-shadow: 3px -2px 1px var(--corBase);
}

header > .Menu-Header{
    height: 40px;
    box-shadow: 0px 0px 2px white;
    font-weight: bold;
}

header > .Menu-Header > ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header > .Menu-Header > ul > li{
    padding: 10px;
}

header > .Menu-Header > ul > li a{
    text-decoration: none;
    text-shadow: 3px 0px 2px var(--corBase);
}

header > .Menu-Header > ul > li:hover{
    background-color: #006100;
    transition-duration: .9s;
}

main{
    background-color: var(--corBase);
    width: 100%;
    height: 100vh;
}

footer{
    background-color: var(--corDestaque);
    width: 100%;
    height: 210px;
}

footer > section{
    width: 100%;
}

footer > section > h1{
    text-align: center;
    font-size: 50px;
    padding: 10px;
    width: 250px;
}

footer > section > p{
    padding: 10px;
    width: 270px;
    display: inline-block;
}

footer > section > .Menu-Footer{
    display: inline-block;
    padding: 20px;
}

footer > .copyright
{
    background-color: var(--corBase);
    text-align: center;
    padding: 10px;
}